* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  position: relative;
  /* height: 100vh; */
  width: 100vw;
  background-color: lightgrey;
}

.main {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

